.banner {
    background-color: bisque;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    text-align: center;
    color: white;
    position: relative;
  }

  .upper-half-circle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: #f2f2f2;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }

  .image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f2f2f2;
  }

  .underlined-text {
    text-decoration: underline;
    margin-top: 20px; /* Adjust the margin as needed */
    text-align: center;
  }
